* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
 }
 .col-10{
    color: #bcbbbb;
    text-align: right;
    text-transform: uppercase;
    font-size:1.5rem;
}
 .row{
    font-size: 1.6rem;
    color: #bcbbbb;
}
.row.items-container{
    width:100%;
    margin:auto;
    text-align:center;
}

.col-4{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #747704;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    color: #747704;
}

.col-12 hr{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top:solid 2px gray;
}
